.app {
  height: 100vh;
  background-color: transparent;
  transition: background-color 0.3s;
  position: relative;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  transition: margin-left 0.3s, background-color 0.3s;
  min-height: 100vh;
  text-align: center;
}

[data-sidebar-collapsed="true"] .main-content {
  margin-left: 50px;
}

.main-content h1 {
  text-align: center;
  color: var(--text-color);
  transition: color 0.3s;
  font-size: 6em;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}


